# Secrets and env variables
.env
.venv
ADMIN_USER_CONF

# Python cache files
__pycache__
.pytest_cache

# Script files
seed_test*.*
seed_database*.*
orders_bulk_update.py
products_bulk_update.py

# Deployment and testing
.vercel
images